<div class="page-container" style="text-align: center;">
  <div style="text-align: center;" class="page-title">
    <h1 >Scrum Boards</h1>
  </div>
  <div >
    <button mat-raised-button color="primary" (click)="openDialogForNewKanban()">+ Create Kanban</button>
  </div>

  <div class="main-card">
    <mat-nav-list>
      <div *ngIf="kanbanList.length > 0">
        <a mat-list-item *ngFor="let kanban of kanbanList" routerLink="/kanbans/{{kanban.id}}">
          <p class="kanban-title">{{kanban.title}}</p>
        </a>
      </div>
      <div *ngIf="kanbanList.length == 0">
        <p class="kanban-title">There is no Boad ! You can create one</p>
      </div>
    </mat-nav-list>
  </div>
</div>
