/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

html {
    background-image: url(./assets/background.jpeg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.page-container {
    margin: 50px 200px 200px 200px;
}

.page-title {
    font-weight: extra-bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
